body {
  margin: 0;
  background-color: rgba(246, 245, 180, 1);
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  grid-row-gap: 20px;
}

.sudoku {
  display: grid;
  width: 500px;
  height: 500px;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.cube {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  background-color: rgba(249, 248, 164, 1);
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  display: grid;
  font-family: Helvetica;
  font-size: 24px;
}